:root {
  --accent-white: #fff;
  --accent-grey: #f9f9f9;
  --accent-blue: #4c7dfe;
  --accent-green: #2bc735;
  --text-color--dark: #6a6b6f;
  --text-color--grey: #cfcfcf;
  --text-color--white: #fff;
}
